<h1>Wikinimous</h1>
<%= @articles.each do |article| %>
  <ul>
    <li>
      <%= link_to article.title, article_path(article) %>
      <p><%= truncate(article.content, length: 100) %></p>
    </li>
  </ul>
<% end %>
